%h1 Listing sites

%table
  %tr
    %th Description
    %th Url
    %th Search string
    %th Parse code
    %th
    %th
    %th

  - @sites.each do |site|
    %tr
      %td= site.description
      %td= site.url
      %td= site.search_string
      %td= site.parse_code
      %td= link_to 'Show', site
      %td= link_to 'Edit', edit_site_path(site)
      %td= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Site', new_site_path
